#navbar {
  position: relative;
}

.logo {
  width: 5%;
}

body {
  font-family: "Nova Square", cursive;
  font-size: 30px;
}

.middle {
  position: relative;
  background-color: black;
  padding: 140px;
  
}

img {
  width: 98%;
  border-radius: 5%;
}

img:hover {
  box-sizing: border-box;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

#Contribution {
  background-color: black;
  color: #fff;
}


.you {
  font-size: 20px;
}

.Vishal {
  color: #31e1f7;

.you{
  font-size: 30px;
}

.gaurav {
  color: white;
}


.anikkkkettt{
  background-color: white;
  color: black;
}

}

.yash{
  color: blue;
}
.akshay{
  color: violet;
}

